node_modules
**/node_modules
dist
**/dist
build
**/build
.git
.gitignore
*.log
*.md
.env
.env.*
server/prisma/*.db
server/prisma/*.db-journal
server/uploads/*
!server/uploads/.gitkeep
.DS_Store
.vscode
.idea
